---
#
# make picture config
#

basic_picture: "/tmp/new.jpg"
redis_light_key: "{hostname}:light:min"
redis_power_state_camera: "{hostname}:mini_ups:power_state:camera"
redis_power_state_picture_ok: "{hostname}:mini_ups:voltage:make_picture_ok"
redis_power_state_rpi: "{hostname}:mini_ups:voltage:power_state"

light_shadow_limit: 2

light_night_limit: 1

data_resorces:
  carbon:
    host: "172.30.0.78"
    port: 2003

  redis:
    host: "127.0.50.1"
    port: 6379
    database: 1



serial:
  device: "/dev/pts/25"
#  device: "/dev/ttyS0"
#  device: "/dev/ttyAMA0"
  speed: 9600
